html {
	overflow-y:scroll;
	background:#fff
}
* html,* html body {
	background-image:url(about:blank);
	background-attachment:fixed
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,lengend,button,input,textarea,th,td {
	margin:0;
	padding:0
}
body,button,input,select,textarea {
	color:#2e2e2e;
	font:12px/1.5 tahoma,arial,helvetica,verdana,sans-serif
}
table {
	border-collapse:collapse;
	border-spacing:0
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal
}
address,cite,dfn,em,var,i {
	font-style:normal
}
small {
	font-size:12px
}
legend {
	color:#000
}
ul,li,dt,dd,dl,ol {
	list-style:none
}
fieldset,img {
	border:0
}
img {
	-ms-interpolation-mode:bicubic;
	display:inline-block;
	*display:inline;
	*zoom:1
}
img,li {
	vertical-align:top
}
input,select,label {
	vertical-align:middle;
	outline:0
}
button,input,select,textarea {
	font-size:100%
}
input::-ms-clearr,input::-ms-reveal {
	display:none
}
input[type="submit"],input[type="button"] {
	star:expression(this.onFocus=this.blur())
}
body {
	color:#333;
	font-family:"Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑","Segoe UI",Tahoma,"宋体b8b体",SimSun,sans-serif;
	font-size:12px;
	text-rendering:optimizelegibility
}
textarea {
	overflow:auto;
	vertical-align:top
}
b,strong {
	font-weight:bold
}
strong {
	font-weight:400
}
input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner {
	border:0;
	padding:0
}
a,a:link {
	color:#333;
	text-decoration:none;
	outline:0
}
a:hover {
	text-decoration:underline;
	color:#ea3b33
}
a.blue {
	color:#36c
}
.fl {
	float:left
}
.fr {
	float:right
}
.tl {
	text-align:left
}
.tc {
	text-align:center
}
.tr {
	text-align:right
}
.tdu {
	text-decoration:underline
}
.di {
	display:inline
}
.db {
	display:block
}
.dib {
	display:inline-block;
	*display:inline;
	*zoom:1
}
.dn {
	display:none
}
.clearfix:before,.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	visibility:hidden;
	clear:both
}
.clearfix {
	zoom:1
}
.f333 {
	color:#333
}
.hide {
	display:none!important
}
body .hide {
	display:none
}
.none {
	display:none
}
.show {
	display:block!important
}
.invisible {
	visibility:hidden
}
.hidden {
	display:none!important;
	visibility:hidden!important
}
.affix {
	position:fixed
}
span.block {
	display:block;
	height:18px;
	margin-bottom:3px
}
.clearr {
	clear:both;
	font-size:0;
	height:0
}
.yahei_title {
	font-family:"\5fae\8f6f\96c5\9ed1","Microsoft YaHei",helvetica,tahoma,arial,verdana,sans-serif
}
.yhtext {
	font-family:"Microsoft Yahei"
}
.fsm {
	font-family:"SimSun"
}
.mr6 {
	margin-right:6px
}
.mr10 {
	margin-right:10px
}
.cBlueB {
	color:#2a8ec0
}
.buttonie67_autowidth {
	width:auto;
	overflow:visible
}
.pos_r {
	position:relative
}
.pos_a {
	position:absolute
}
.cursor_p {
	cursor:pointer
}
.cursor_d {
	cursor:default
}
.fb {
	font-weight:700
}
.f14 {
	font-size:14px
}
.f16 {
	font-size:16px
}
.f20 {
	font-size:20px
}
.f18 {
	font-size:18px
}
.f22 {
	font-size:22px!important
}
.text_of {
	overflow:hidden;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}
.f7b {
	color:#7b7b7b
}
.ff60 {
	color:#f60
}
.f666 {
	color:#666
}
.f999 {
	color:#999
}
.f787878 {
	color:#787878
}
.fff5e00 {
	color:#ff5e00
}
.f000 {
	color:#000
}
.cOrange {
	color:#ff7800!important
}
.cGreen {
	color:#30ba0b!important
}
.fff0 {
	color:#ff5e00
}
.fgreen {
	color:#5ea51e
}
.cRed {
	color:#ea3b33
}
.mb_15 {
	margin-bottom:15px
}
.m_10 {
	margin:10px
}
.mt_10 {
	margin-top:10px!important
}
.mr_10 {
	margin-right:10px!important
}
.mb_10 {
	margin-bottom:10px!important
}
.ml_10 {
	margin-left:10px!important
}
.m_15 {
	margin:15px!important
}
.mrl_6 {
	margin:0 6px
}
.mt_15 {
	margin-top:15px!important
}
.mr_15 {
	margin-right:15px!important
}
.mb_15 {
	margin-bottom:15px!important
}
.ml_15 {
	margin-left:15px!important
}
.mt_28 {
	margin-top:28px!important
}
.p_15 {
	padding:15px
}
.pt_15 {
	padding-top:15px
}
.pr_15 {
	padding-right:15px
}
.pb_15 {
	padding-bottom:15px
}
.pl_15 {
	padding-left:15px
}
.a_word,.double_words,.half_word {
	display:inline-block;
	*display:inline;
	*zoom:1;
	overflow:hidden
}
.half_word {
	width:.5em
}
.a_word {
	width:1em
}
.double_words {
	width:2em
}
.w80 {
	width:80px
}
.w200 {
	width:200px
}
.tdu {
	text-decoration:underline!important
}
a.cBlueB:hover {
	color:#ea3b33
}
a.cBlue:link,a.cBlue:visited,a.cBlue:active {
	color:#0265cd
}
a.cBlue:hover {
	color:#ea3b33
}
.headernav {
	width:100%;
	height:40px;
	background:#bc0000;
	box-shadow:0 0 4px rgba(0,0,0,0.5);
	position:relative;
	z-index:7
}
.headernav h2 {
	margin:0 20px 0 15px;
	width:109px;
	height:40px;
	background:url(/resource/images/bg_icon.png) -165px -2px no-repeat
}
.headernav .n_headerCity {
	margin:0;
	width:80px;
	border:0
}
.headernav .icon-arrow {
	background:#bc0000 url("/resource/images/bg_icon.png") no-repeat scroll 0 -41px
}
.city-name span {
	color:#fff
}
.nav-wrap {
	width:1200px;
	height:40px;
	margin:0 auto
}
.n_headerCity {
	width:350px;
	height:40px;
	margin:32px 5px 0 0;
	position:relative
}
.city-name {
	height:40px;
	width:70px;
	color:#e62129;
	line-height:1.5;
	position:relative;
	z-index:14;
	color:#ea2531;
	float:left
}
.city-name span {
	width:45px;
	text-align:right;
	font-size:16px;
	color:#fff;
	line-height:40px;
	display:inline-block
}
.icon-arrow {
	width:12px;
	height:12px;
	display:inline-block;
	cursor:pointer;
	background:#fff url(/resource/images/bg_icon.png) 0 0 no-repeat;
	vertical-align:middle;
	margin-left:3px
}
.city-name i {
	vertical-align:0;
	*vertical-align:6px
}
.city-dropdown {
	position:absolute;
	left:13px;
	top:35px;
	width:130px;
	height:150px;
	z-index:13;
	background:#fff;
	display:none;
	padding:8px 0 10px 8px;
	border:1px solid #ddd;
	background:#fff;
	*zoom:1
}
.city-dropdown li {
	margin-bottom:7px;
	*margin-bottom:3px;
	line-height:20px;
	font-family:"SimSun";
	width:100%;
	overflow:hidden
}
.city-dropdown li.last dt {
	width:75px
}
.city-dropdown li dt {
	color:#666;
	float:left;
	width:40px;
	text-align:right
}
.city-dropdown li dd {
	float:left;
	margin-left:12px
}
.city-dropdown a {
	margin-right:10px
}
.headernav .top-nav {
	margin-left:0;
	width:775px
}
.top-nav {
	width:900px;
	margin-left:100px;
	height:40px;
	font-family:"Hiragino Sans GB","微软雅黑","Microsoft YaHei",SimHei,Tahoma,"宋体b8b\4f53",SimSun,sans-serif
}
.top-nav dd {
	color:#fff;
	float:left;
	font-size:14px;
	font-weight:700;
	height:40px;
	line-height:40px;
	position:relative;
	margin:0 15px
}
.top-nav dd a {
	color:#fff;
	display:block;
	font-size:14px;
	overflow:hidden;
	padding:0 12px
}
.top-nav dd a,.top-nav dd a:link,.top-nav dd a:visited,.top-nav dd a:hover {
	color:#fff;
	text-decoration:none
}
.top-nav dd.curr {
	background-color:#6f0507
}
.top-nav dd.on {
	background-image:url("/resource/images/navjt.gif");
	background-position:center bottom;
	background-repeat:no-repeat;
	background-color:#6f0507
}
.tj-nav dd {
	margin:0 8px
}
.tj-nav dd a {
	padding:0 12px
}
.n_navouter .tj-nav dd {
	margin:0 10px
}
.rightiframe {
	float:right;
	height:30px;
	width:200px;
	margin-top:5px
}
.rightiframe iframe {
	width:200px;
	height:30px;
	overflow:hidden
}
.top-nav .sublist {
	background:#fff;
	border:1px solid #b2b2b2;
	border-top:0;
	position:absolute;
	left:0;
	text-align:center;
	width:120px;
	top:40px;
	display:none
}
.top-nav .sublist li {
	height:30px;
	line-height:30px;
	padding:0 10px;
	margin:0;
	background:0;
	width:100px;
	text-align:left;
	font-size:12px;
	font-weight:400
}
.top-nav .sublist li a {
	width:100px;
	font-size:12px;
	display:block;
	color:#666;
	margin:0;
	padding:0;
	text-decoration:none
}
.top-nav .sublist li a:hover {
	color:#c00
}
.search-bar {
	width:100%;
	height:59px;
	background:#fff;
	border-bottom:1px solid #e3e3e3;
	position:relative;
	z-index:6
}
.search-bar .search-barinner {
	width:1200px;
	padding:12px 0;
	height:35px;
	margin:0 auto
}
.t-search {
	width:532px;
	height:34px;
	border:1px solid #cfcfcf;
	position:relative
}
.nsearch_type {
	width:85px;
	height:34px;
	position:relative;
	z-index:4
}
.nsearch_type span {
	width:60px;
	height:34px;
	color:#999;
/* 	text-align:right;
 */	line-height:34px;
	display:inline-block
}
.search_dropdown {
	display:none;
	background:#fff;
	border:1px solid #ddd;
	height:auto;
	left:-1px;
	border-top:0;
	overflow:hidden;
	position:absolute;
	top:34px;
	width:90px
}
.search_dropdown li {
	width:90px;
	height:30px
}
.search_dropdown li a {
	color:#666;
	cursor:pointer;
	display:block;
	height:30px;
	line-height:30px;
	padding-left:15px;
	text-align:left;
	width:75px
}
.search_dropdown li a:hover {
	background:#f6f6f6;
	text-decoration:none
}
.t-search .search_ipt {
	width:360px;
	height:30px;
	line-height:30px;
	border:1px solid #fff
}
.b-search {
	width:420px;
	height:26px;
	line-height:26px;
	margin:6px 0 0 25px
}
.b-search dt {
	width:auto;
	text-align:right;
	margin-right:10px
}
.b-search dd {
	width:370px
}
.b-search dd a {
	margin-right:15px
}
.t-search .search_btn {
	width:62px;
	height:36px;
	display:block;
	padding:0;
	margin-right:0;
	text-indent:120%;
	cursor:pointer;
	position:absolute;
	right:-1px;
	top:-1px;
	border:0;
	background:url(../../img/House/sousuo.jpg) 0 0 no-repeat
}
.nsearch_type i {
	margin-left:2px;
	vertical-align:0;
	*vertical-align:3px
}
.search-bar .hotline {
	font-size:14px;
	color:#000;
	height:25px;
	line-height:25px;
	float:right;
	margin-top:8px;
	width:195px;
	text-align:right;
	margin-right:10px
}
.popupbg {
	display:none;
	top:0;
	left:0;
	width:100%;
	position:absolute;
	z-index:999;
	background:rgba(102,102,102,0.7);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#b2666666',EndColorStr='#b2666666');
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorstr='#b2666666',EndColorstr='#b2666666')";
	zoom:1
}
.popupcon {
	display:none;
	position:absolute
}
.popup_tsbg {
	top:0;
	left:0;
	width:100%;
	position:absolute;
	z-index:999;
	background:#000;
	filter:alpha(opacity=30);
	-moz-opacity:.3;
	-khtml-opacity:.3;
	opacity:.3;
	_background:0
}
.popup_tscon {
	position:absolute;
	width:1000px;
	margin:auto;
	z-index:9999
}
.popup_tscon img {
	position:absolute
}
.js_close {
	background:url(/resource/images/close.gif) no-repeat;
	width:10px;
	height:10px;
	display:block;
	cursor:pointer;
	position:absolute;
	right:10px;
	top:10px
}
.js_nclose {
	background:url("/resource/images/sendsmscloseB.gif") no-repeat 0 0;
	cursor:pointer;
	display:block;
	height:18px;
	position:absolute;
	right:10px;
	top:15px;
	width:18px
}
.albumclose {
	background:url(/resource/images/fancy_close.png) no-repeat;
	width:30px;
	height:30px;
	display:block;
	cursor:pointer;
	position:absolute;
	right:-15px;
	top:-15px
}
.secondhandpop_top,.mortgagepop_top,.collectpop_top {
	background:#fff;
	border-top:5px solid #e21f1d;
	color:#000;
	font-family:"Microsoft YaHei";
	font-size:14px;
	font-weight:bold;
	height:33px;
	padding:12px 0 0 15px
}
.secondhandpop_mid {
	background:#fff;
	padding:15px 20px 25px;
	width:485px
}
.footerwaper {
	border-top:2px solid #bc0000;
	clear:both;
	height:70px;
	margin:0 auto;
	padding:20px 0;
	text-align:center;
	width:100%
}
.footerbox {
	color:#9d9d9d;
	margin:0 auto;
	width:1200px
}
.footerbox p {
	margin-top:8px
}
.footerbox ul em {
	color:#dadada;
	margin:0 8px
}
.footerbox ul {
	height:20px;
	margin:0 auto;
	width:330px
}
.footerbox ul li {
	float:left
}
.fLink {
	border-bottom:1px solid #ddd;
	height:auto;
	line-height:30px;
	margin:0 auto;
	padding:3px 0;
	position:relative;
	text-align:left;
	width:1000px
}
.fLink dt {
	float:left;
	height:30px;
	text-align:right;
	width:70px
}
.fLink dd {
	float:left;
	height:30px;
	width:910px
}
.fLink dd a {
	display:inline-block;
	margin-right:25px;
	word-break:break-all;
	word-wrap:break-word
}
.fLinkB dd a {
	background:#fff none repeat scroll 0 0;
	font-family:arial;
	line-height:20px;
	margin-right:4px;
	padding:3px 6px;
	text-decoration:none
}
.fLinkB dd a:hover {
	background:#bc0000 none repeat scroll 0 0;
	color:#fff!important;
	text-decoration:none
}
.footerbox {
	padding-bottom:30px
}
.zqgif {
	position:absolute;
	right:390px;
	top:2px
}
.cd_chat_small,.cd_chat_big {
	display:inline-block;
	background:url(/resource/images/cd_chat_small.png) no-repeat 0 0;
	height:23px;
	vertical-align:middle;
	width:77px!important
}
.broker-infor_top .bros h5 .cd_chat_big {
	display:block;
	margin-top:5px
}
.search-bar .search-barinner {
	position:relative
}
.szhotline {
	width:170px;
	height:45px;
	position:absolute;
	right:0;
	top:9px;
	background:#fff url(/resource/images/hotline_icon.gif) 0 -1px no-repeat;
	padding-left:28px
}
.szhotline p {
	height:19px;
	line-height:19px;
	margin-bottom:3px
}
body,html {
	width:100%;
	height:100%
}
.icons-lefton,.icons-leftnormal,.icons-rightnormal,.icons-righton,.icons-condi,.icons-arrB,.icons-down,.icons-up,.icons_map {
	display:inline-block;
	*display:inline;
	*zoom:1;
	overflow:hidden;
	width:20px;
	height:20px;
	background-image:url(/resource/images/hlists_bg.png);
	background-repeat:no-repeat
}
.icons-lefton {
	width:10px;
	height:15px;
	background-position:0 -58px
}
.icons-leftnormal {
	width:10px;
	height:15px;
	background-position:0 -87px
}
.icons-righton {
	width:10px;
	height:15px;
	background-position:0 -116px
}
.icons-rightnormal {
	width:10px;
	height:15px;
	background-position:0 -147px
}
.icons-arrB {
	width:15px;
	height:10px;
	background-position:0 -34px
}
.icons-down {
	width:12px;
	height:23px;
	background-position:0 -208px
}
.icons-up {
	width:12px;
	height:23px;
	background-position:0 -178px
}
.icons-condi {
	width:10px;
	height:10px;
	background-position:0 0;
	margin-left:6px
}
.icons_map {
	width:15px;
	height:20px;
	background:url(/resource/images/map_mark.png) no-repeat 0 0;
	vertical-align:-4px;
	margin-left:4px;
	cursor:default
}
.sort-rule i {
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:0;
	height:13px;
	line-height:0;
	margin:0 0 0 6px;
	vertical-align:middle;
	width:10px
}
.sort-rule i.sort_normal {
	background:url("/resource/images/sortico.gif") no-repeat scroll 0 2px
}
.sort-rule i.sort_top {
	background:url("/resource/images/sortico.gif") no-repeat scroll 0 -30px
}
.sort-rule i.sort_bottom {
	background:url("/resource/images/sortico.gif") no-repeat scroll 0 -63px
}
.sort-rule i.sort_gray {
	background:url("/resource/images/sortico.gif") no-repeat scroll 0 -87px
}
.sort-rule i.sort_orange {
	background:url("/resource/images/sortico.gif") no-repeat scroll 0 -117px
}
a.cBlueB:link,a.cBlueB:visited,a.cBlueB:active {
	color:#06c
}
.chat_ico_on {
	background:url("/resource/images/chat_ico.png") no-repeat scroll 0 0;
	display:inline-block;
	height:17px;
	vertical-align:middle;
	width:60px!important
}
.centmain-wraper {
	width:100%;
	background:#f3f3f3;
	height:auto
}
.centmain-inner {
	width:1200px;
	margin:0 auto;
}
.breadcrumbs {
	width:100%;
	height:24px;
	line-height:24px;
	margin:5px 0 10px
}
.breadcrumbs-area {
	margin-right:40px;
	font-size:0
}
.breadcrumbs-area a,.breadcrumbs-area span,.breadcrumbs-area h1 {
	font-size:12px;
	margin-right:5px;
	display:inline
}
.btn-condi {
	display:inline-block;
	*display:inline;
	zoom:1;
	border:1px dashed #ccc;
	height:22px;
	line-height:22px;
	background:#fff;
	color:#666;
	padding:0 5px 0 7px;
	margin-right:6px
}
.house-term {
	width:1198px;
	border:1px solid #e1e1e1;
	background:#fff;
	margin:0 auto 20px
}
.term-navbox {
	width:1198px;
	height:48px;
	background:#fafafa;
	position:relative
}
.term-nav {
	width:1200px;
	height:46px;
	border-bottom:2px solid #bc0000;
	position:absolute;
	left:-1px;
	top:-1px;
	line-height:46px
}
.term-nav li {
	color:#707070;
	cursor:pointer;
	float:left;
	height:46px;
	text-align:center;
	width:134px;
	font-size:16px
}
.term-nav li a {
	display:block;
	height:46px;
	width:134px
}
.term-nav li.curr,.term-nav li.curr a,.term-nav li a:hover {
	background:#bc0000;
	color:#fff;
	text-decoration:none
}
.base-termcont {
	padding:20px 30px 15px;
	width:1138px;
	overflow:hidden
}
.termline {
	line-height:28px;
	margin-bottom:3px;
	position:relative
}
.subterm,.termcon {
	width:90%
}
.subterm {
	margin-left:79px
}
.term-title,.filter-title {
	width:60px;
	font-weight:bold;
	color:#000;
	margin-right:10px
}
.termcon a,.termcon span {
	color:#000;
	display:inline-block;
	*display:inline;
	zoom:1;
	color:#333;
	line-height:28px;
	padding:1px 8px;
	white-space:nowrap;
	word-wrap:break-word
}
.termcon a:link,.termcon a:visited,.subterm a,.subterm a:link,.subterm a:visited {
	color:#333
}
.termcon a:hover,.subterm a:hover {
	color:#e22b1d;
	text-decoration:none
}
.subterm span {
	margin-right:15px;
	display:inline-block;
	*display:inline;
	zoom:1;
	line-height:28px
}
.termcon span.curr,.subterm span.curr {
	color:#e22b1d;
	font-weight:700
}
.subterm s {
	color:#444243;
	font-family:arial;
	font-size:12px;
	font-weight:700;
	margin-right:2px;
	white-space:nowrap;
	text-decoration:none
}
.importinput {
	border:1px solid #ccc;
	color:#333;
	height:18px;
	line-height:18px;
	margin:-2px 4px 0;
	padding:1px 3px;
	text-align:center;
	width:36px
}
.termcon .smitbtn {
	background:url("/resource/images/surebtn.gif") repeat scroll 0 0;
	border:medium none;
	font-size:0;
	height:20px;
	margin:-2px 4px 0;
	width:37px
}
.filter-bar {
	background:#fafafa;
	height:28px;
	width:100%;
	padding:15px 0;
	border-top:1px solid #e1e1e1
}
.filter-title {
	padding-left:30px;
	height:28px;
	line-height:28px
}
.filter-select {
	width:auto;
	height:28px;
	margin-right:25px
}
.filter-select li {
	float:left;
	margin-right:5px;
	background:#fff;
	border:1px solid #c5c5c5;
	cursor:pointer;
	font-size:12px;
	line-height:26px;
	padding:0 6px 0 8px;
	position:relative;
	left:9px
}
.filter-options {
	display:none;
	background:#fff;
	border:1px solid #ccc;
	border-top:0;
	left:-1px;
	position:absolute;
	top:23px;
	width:100%;
	z-index:10
}
.filter-options a {
	display:block;
	background:#fff;
	text-indent:8px
}
.filter-options a:hover {
	text-decoration:none;
	background:#f5f5f5
}
.filter-select li i {
	margin-left:20px
}
.checkbox-area {
	width:auto;
	height:25px;
	margin-top:3px
}
.checkbox-area label {
	display:inline-block;
	*display:inline;
	zoom:1;
	margin-right:4px;
	line-height:25px
}
.checkbox-area label input {
	position:relative;
	top:-1px;
	margin-right:3px
}
.result-lists {
	width:1200px
}
.select-bar {
	width:1198px;
	background:#fafafa;
	height:48px;
	border:1px solid #e1e1e1
}
.select-bar .pagerNum,.select-bar .pagerTxt {
	width:95px;
	color:#000;
	height:25px;
	margin-top:10px;
	line-height:25px
}
.select-bar .pagerTxt .cRed {
	font-size:18px;
	font-weight:700;
	margin:0 3px
}
.select-bar .pagerTxt {
	width:180px
}
.select-bar .sort-rule {
	width:70%;
	height:48px;
	line-height:48px
}
.sort-rule li {
	float:left
}
.sort-rule li a {
	padding:0 10px;
	color:#404040;
	border:1px solid #fafafa;
	border-width:0 1px
}
.sort-rule li a:hover {
	background:#fff;
	text-decoration:none;
	color:#f00
}
.sort-rule li.first a {
	border-left:0
}
.sort-rule li.first a i {
	display:none
}
.sort-rule li a i {
	margin-left:5px;
	position:relative;
	top:-2px
}
.sort-rule li.curr {
	border-left:1px solid #e1e1e1;
	border-right:1px solid #e1e1e1;
	background:#fff
}
.sort-rule li.curr a {
	color:#f00
}
.sort-rule li.first {
	border:none!important
}
.house-main {
	border:1px solid #e1e1e1;
	background:#fff;
	width:1198px;
	border-top:0
}
.house-listBox {
	width:100%;
	height:auto
}
.house-item,.house-item-curr {
	width:100%;
	height:225px;
	border-bottom:1px solid #e1e1e1;
	overflow:hidden;
	background:#fff
}
.house-item1,.house-item-curr {
	width:100%;
	border-bottom:1px solid #e1e1e1;
	overflow:hidden;
	background:#fff
}
.house-item-curr {
	background:#f5f5f5
}
.house-item .item-photo {
	height:165px;
	width:220px;
	margin:30px 30px 0 30px;
	position:relative
}
.item-photo img {
	width:220px;
	height:165px
}
.item-photo .hot-icon {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:40px;
	height:35px;
	background:url(/resource/images/hot.png) 0 0 no-repeat
}

.house-item .item-info {
	width:670px;
	height:195px;
	margin:30px 0 0 0;
	text-align: left;
	font-family:"幼圆";
}
.house-item .house-title {
	font-size:20px;
	margin-bottom:10px
}
.house-item .labeltag {
	width:100%;
	height:28px
}
.house-item .xqdl {
	width:100%;
	margin-top:28px;
	line-height:2
}
.house-item .xqdl {
	width:100%;
	margin-top:28px;
	line-height:2
}
.house-item .xqdl dt {
	margin-bottom:6px
}

.house-item1 .item-info {
	width:670px;
	height:60px;
	margin:20px 0 0 100px;
	text-align: left;
	font-family:"幼圆";
}
.house-item1 .house-title {
	font-size:20px;
	margin-bottom:10px
}
.house-item1 .labeltag {
	width:100%;
	height:10px
}
.house-item1 .xqdl {
	width:100%;
	margin-top:10px;
	line-height:2
}
.house-item1 .xqdl {
	width:100%;
	margin-top:10px;
	line-height:2
}
.house-item1 .xqdl dt {
	margin-bottom:6px
}
.labeltag span {
	display:inline-block;
	*display:inline;
	zoom:1;
	margin-right:10px;
	line-height:26px;
	padding:0 10px;
	height:26px
}
.labeltag .tag_blue {
	border:1px solid #a2c9ea;
	background:#e4eff8;
	color:#7fabd0
}
.labeltag .tag_red {
	border:1px solid #eaa2a2;
	background:#f8e4e4;
	color:#c77171
}
.labeltag .tag_orange {
	border:1px solid #e9b694;
	background:#f8ece4;
	color:#e88158
}
.labeltag .tag_yellow {
	border:1px solid #f2d261;
	background:#f8f6e4;
	color:#e8b458
}
.labeltag .tag_green {
	border:1px solid #01b169;
	background:#cdefe1;
	color:#02bd85
}
.labeltag .tag_red2 {
	border:1px solid #fe495a;
	background:#ffdfdf;
	color:#fe495a
}
.labeltag .tag_blue2 {
	border:1px solid #58bcff;
	background:#c8e9ff;
	color:#58bcff
}
.labeltag .tag_brown {
	border:1px solid #eeaf5b;
	background:#ffeed3;
	color:#c28738
}
.labeltag .tag_violet {
	border:1px solid #ef5292;
	background:#ffe6f0;
	color:#ef5292
}
.labeltag .tag_cyan {
	border:1px solid #2fbdb8;
	background:#e2fffe;
	color:#2fbdb8
}
.labeltag .tag_gray {
	border:1px solid #dcdcdc;
	background:#eee;
	color:#a0a0a0
}
.labeltag .tag_yf {
	width:91px;
	height:28px;
	background:url(/resource/images/yf_icon.gif) 0 0 no-repeat;
	padding:0;
	vertical-align:middle;
	line-height:28px
}
.house-item .item-pricearea {
	width:200px;
	margin:70px 20px 0 0;
	position:relative
}
.price-nub {
	font-size:26px
}
.price-tip {
	width:130px;
	height:38px;
	background:url(/resource/images/price_tipbg.png) 0 0 no-repeat;
	position:absolute;
	left:-10px;
	top:-32px;
	text-align:center
}
.price-tipdown {
	color:#7cb737;
	padding:5px 0 0 5px;
	height:33px;
	width:125px
}
.price-tipup {
	background:url(/resource/images/price_tipbg.png) 0 bottom no-repeat;
	color:#fff;
	padding:5px 0 0 5px;
	height:33px;
	width:125px
}
.searchresult {
	width:100%;
	height:132px;
	border-bottom:1px solid #e1e1e1
}
.result_community {
	width:1100px;
	height:100px;
	padding:15px 15px 15px 30px
}
.result_community dt img {
	width:120px;
	height:100px
}
.result_community dd.mid {
	width:500px;
	height:100px;
	margin-left:25px;
	line-height:1.6
}
.result_community dd.side {
	width:300px;
	height:100px;
	line-height:1.6;
	margin-top:10px
}
.breadcrums-layer {
	background:#fff;
	width:100%
}
.breadcrums-inner {
	width:1200px;
	margin:11px auto;
	height:28px;
	line-height:28px
}
.entrust-box {
	width:100%
}
.entrust-header {
	width:100%;
	height:50px;
	padding:10px 0 20px;
	text-align:center;
	color:#000;
	border-bottom:1px dashed #bebebe;
	line-height:2.0
}
.entrust-main {
	padding:30px 0 0 80px;
	width:1080px
}
.entrust-table {
	width:100%
}
.entrust-table td,.entrust-table th {
	padding:10px 5px
}
.tab-choose {
	display:inline-block;
	*display:inline;
	zoom:1;
	margin-right:15px
}
.tab-choose {
	border:1px solid #c6c6c6;
	background:#fff;
	color:#333;
	text-align:center;
	height:34px;
	line-height:34px;
	padding:0 20px;
	text-decoration:none
}
.tab-choose.on {
	background:#bc0000;
	color:#fff;
	border:1px solid #bc0000
}
.tab-choose:hover {
	text-decoration:none
}
.entrust-table .ent_select,.entrust-table .ent_input,.entrust-table .ent_textarea {
	background:#fff;
	height:24px;
	border:1px solid #c6c6c6;
	line-height:24px;
	padding:0 10px;
	margin-right:4px
}
.entrust-table .ent_textarea {
	width:400px;
	height:100px
}
.entrust-table .ent_select {
	padding:0
}
.entrust-table .ent_label {
	margin-right:15px
}
.entrust-table .ent_label input {
	vertical-align:-3px;
	margin-right:3px
}
.ent_peoplebox {
	border:1px solid #c6c6c6;
	background:#fff;
	width:880px
}
.ent_peoplebox dl {
	width:380px;
	height:110px;
	float:left;
	margin:22px 25px
}
.ent_peoplebox dl dt img {
	width:82px;
	height:110px
}
.ent_peoplebox dl dd {
	height:110px;
	width:280px;
	margin-left:10px;
	position:relative
}
.ent_peoplebox dl dd .ent_btn,.ent_peoplebox dl dd .ent_on {
	display:block;
	width:80px;
	height:40px;
	position:absolute;
	right:0;
	top:0;
	text-align:center;
	line-height:40px;
	font-size:18px;
	background:#e4e4e4;
	color:#929292
}
.ent_peoplebox dl dd .ent_btn:hover {
	color:#ff7800;
	text-decoration:none
}
.ent_peoplebox dl dd .ent_on {
	background:#fadec3;
	color:#ff7800;
	text-decoration:none
}
.ent_peoplebox dl dd h6 {
	margin-bottom:30px
}
.ent_peoplebox dl dd p {
	margin-bottom:5px
}
.ent_bottom {
	width:300px;
	padding:30px 0 50px 0;
	height:35px
}
.entrust-table .remarkicon {
	display:inline-block;
	*display:none;
	zoom:1;
	width:auto;
	height:25px;
	margin:0 0 0 5px;
	position:relative;
	top:4px
}
.entrust-table .remarkicon i {
	display:inline-block;
	*display:none;
	zoom:1;
	width:18px;
	height:15px;
	margin-right:5px;
	background:url(/resource/images/remarkicon.gif) 0 0 no-repeat
}
a.btnorange_120,a.btnorange_120:link,a.btnorange_120:visited,a.btnorange_120:hover {
	background:url("/resource/images/red_btn3.jpg") no-repeat scroll 0 0;
	color:#fff;
	display:block;
	float:left;
	font-size:15px;
	height:36px;
	line-height:32px;
	text-align:center;
	text-decoration:none;
	width:102px
}
a.btnwordgray,a.btnwordgray:link,a.btnwordgray:visited,a.btnwordgray:hover {
	color:#999;
	display:inline;
	float:left;
	font-family:"微软雅黑","黑体";
	font-size:15px;
	line-height:35px;
	margin:0 20px;
	text-decoration:none
}
.entruse-success {
	margin:0 auto 0;
	padding:100px 0;
	width:1200px;
	background:#fff;
	border:1px solid #e1e1e1
}
.entruse-success .status {
	background:url("/resource/images/tureicon02.gif") no-repeat scroll 0 0;
	color:#094;
	font-size:14px;
	font-weight:bold;
	line-height:110px;
	padding-left:130px;
	width:670px;
	margin:0 auto
}
.entruse-success .successinfo {
	background:#fff9e8;
	font-size:14px;
	line-height:28px;
	padding:20px;
	width:670px;
	margin:20px auto
}
.bigimgLayer {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1001;
	opacity:0;
	overflow:hidden;
	visibility:hidden;
	transition:opacity .3s ease-in 0s
}
.bigimgLayer .slidesDetail {
	font-size:0;
	height:100%;
	overflow:hidden;
	position:absolute;
	white-space:nowrap;
	width:100%
}
.bigimgLayer .close-btn {
	display:block;
	position:absolute;
	right:10px;
	top:10px;
	width:47px;
	height:47px;
	z-index:10002;
	background:url(/resource/images/bigimg_close.png) 0 0 no-repeat
}
.slidesjs-previous,.slidesjs-next {
	background:url("/resource/images/bigpicmod.png") no-repeat scroll 0 0;
	display:block;
	height:40px;
	position:absolute;
	top:45%;
	width:40px;
	z-index:99
}
.slidesjs-previous {
	background:url("/resource/images/bigpicmod.png") no-repeat scroll 0 0;
	left:20px
}
.slidesjs-next {
	background:url("/resource/images/bigpicmod.png") no-repeat scroll 0 -45px;
	right:20px
}
.slidesjs-previous:hover {
	background:url("/resource/images/bigpicmod.png") no-repeat scroll 0 -90px
}
.slidesjs-next:hover {
	background:url("/resource/images/bigpicmod.png") no-repeat scroll 0 -135px
}
#slidesDetail .slidesjs-pagination {
	display:none
}
.bigimg-item {
	display:inline-block;
	height:100%;
	position:relative;
	vertical-align:middle;
	width:100%
}
.bigimgouter {
	display:table;
	height:100%;
	position:relative;
	width:100%;
	vertical-align:middle
}
.bigimg-item p {
	font-size:18px;
	color:#fff
}
.bigimgBox {
	display:table-cell;
	text-align:center;
	vertical-align:middle
}
.bigimgBox img {
	box-shadow:0 0 8px rgba(0,0,0,0.6);
	max-height:100%;
	max-width:100%;
	vertical-align:middle
}
.bigimgLayerBg {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:#000;
	opacity:.8;
	background:#000\9;
	filter:alpha(opacity=80)\9;
	display:none
}
.roomDetail {
	width:100%;
	border-top:1px dotted #bebebe;
	padding:15px 0;
	height:55px;
	position:relative;
	z-index:3
}
.roominfor {
	width:72%;
	height:55px
}
.roominfor h5 {
	margin-bottom:3px
}
.rDetail {
	width:300px;
	height:52px
}
.rDetail li {
	float:left
}
.rDetail li.first,.rDetail li.second {
	width:50px;
	height:45px;
	line-height:1.4;
	margin-right:15px;
	text-align:center;
	padding:10px 0 0
}
.rDetail li a {
	display:inline-block;
	line-height:35px
}
.rDetail .share,.rDetail .collect {
	width:70px;
	height:40px;
	padding-top:10px
}
.rDetail .share {
	border-left:1px solid #e1e1e1;
	padding-left:20px
}
.rDetail i {
	display:inline-block;
	height:23px;
	margin-right:5px;
	vertical-align:middle;
	width:20px
}
.share i {
	background:url("/resource/images/bigpicmod.png") no-repeat scroll 0 -194px
}
.collect i {
	background:url("/resource/images/bigpicmod.png") no-repeat scroll 0 -229px
}
.roombase-box {
	width:100%;
	margin-bottom:25px
}
.share-dropDown {
	background:#fff url("/resource/images/share_icon.jpg") no-repeat scroll 5px 5px;
	border:1px solid #bebebe;
	display:none;
	height:108px;
	padding:9px 5px 5px 34px;
	position:absolute;
	right:37px;
	top:55px;
	width:70px
}
.share-dropDown a {
	display:block;
	height:27px;
	line-height:27px
}
.roombase-photo {
	width:680px;
	height:498px;
	border:1px solid #dcdcdc;
	background:#fff
}
.roombase-infor {
	width:498px;
	border:1px solid #dcdcdc;
	height:498px;
	background:#fff
}
.roombase-top {
	width:100%;
	background:#fff;
	border-bottom:1px solid #dcdcdc
}
.hbase_txt {
	padding:20px 0 20px 40px;
	width:378px
}
.hbase_txt li {
	width:100%;
	float:left;
	height:28px;
	margin-bottom:7px;
	line-height:28px
}
.hbase_txt .txt_l {
	width:70px;
	float:left;
	height:28px
}
.hbase_txt .txt_r {
	width:300px;
	height:28px;
	float:left;
	position:relative
}
.roombase-people {
	width:100%
}
.roompeple {
	padding:15px 10px 5px 55px;
	width:380px;
	height:134px
}
.roompeple dt,.roompeple dt img {
	width:100px;
	height:134px
}
.roompeple dt {
	position:relative
}
.roompeple dt a {
	display:block;
	width:100px;
	height:134px;
	background:url(/resource/images/mask.png) 0 0 no-repeat;
	_background:url(/resource/images/mask.gif) 0 0 no-repeat;
	position:absolute;
	left:0;
	top:0;
	z-index:2
}
.roompeple dt.szPhoto a {
	background:0;
	_background:0
}
.roompeple dd {
	margin-left:20px;
	width:250px;
	line-height:2.1
}
.roombase-people .hotline {
	margin-left:55px;
	width:370px;
	height:46px;
	font-family:Arial,"微软雅黑";
	line-height:46px;
	font-size:22px;
	color:#ff7800;
	background:url(../../img/House/phone.jpg) 0 0 no-repeat;
	text-indent:85px;
	margin-bottom:10px
}
.roompeple .chat_ico_on {
	vertical-align:-2px
}
.bigpicmode {
	width:680px;
	height:475px;
	position:relative;
	z-index:3;
	background:#fff
}
.bigpicmode .btn {
	position:absolute;
	width:27px;
	height:37px;
	top:420px;
	cursor:pointer;
	z-index:99
}
.bigpicmode li {
	float:left
}
.bigpicmode .cf li {
	position:relative;
	color:#fff
}
.bigpicmode .picBox {
	height:400px;
	position:relative;
	overflow:hidden
}
.bigpicmode .picBox ul {
	height:400px;
	position:absolute
}
.bigpicmode .picBox li {
	width:680px;
	height:400px;
	vertical-align:middle;
	display:table-cell;
	text-align:center
}
.bigpicmode .picBox li img {
	vertical-align:middle
}
.bigpicmode .picBox li i {
	height:100%;
	display:inline-block;
	vertical-align:middle;
	display:none;
	font-size:0
}
.bigpicmode .listBox {
	width:650px;
	height:75px;
	margin:0 auto;
	position:relative;
	padding:12px 0 5px;
	overflow:hidden
}
.bigpicmode .listBox ul {
	height:75px;
	position:absolute
}
.bigpicmode .listBox li {
	width:133px;
	height:75px;
	cursor:pointer;
	position:relative
}
.bigpicmode .listBox li img {
	width:96px;
	height:67px;
	border:1px solid #ccc;
	padding:3px
}
.bigpicmode .listBox .on img {
	border:2px solid #f60;
	padding:2px;
	width:96px;
	height:67px
}
.bigpicmode .btn,.bigpicmode .kongbtn {
	background-repeat:no-repeat;
	height:50px;
	position:absolute;
	top:170px;
	width:50px;
	z-index:89;
	background-image:url(/resource/images/icon_bigpicmod.png);
	background-repeat:no-repeat
}
.bigpicmode .prev {
	left:15px;
	background-position:-60px -50px
}
.bigpicmode .prev:hover {
	background-position:-60px 0
}
.bigpicmode .next {
	right:15px;
	background-position:-0px -50px
}
.bigpicmode .next:hover {
	background-position:0 0
}
.detailrecord-box,.detailtrend-box,.detailcomment-box,.detailmap-box,.detailhouselist,.detailnewlist {
	width:1198px;
	border:1px solid #e1e1e1;
	background:#fff;
	margin-bottom:25px
}
.detailtab-outer {
	width:1198px;
	background:#fafafa;
	position:relative;
	border:1px solid #dedede;
	border-bottom:0
}
.fixTab {
	position:fixed;
	top:0;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop));
	z-index:2000;
	padding:0
}
.detailcomment-box {
	border-top:0
}
.detail-tab {
	position:absolute;
	width:1200px;
	height:51px;
	border-bottom:2px solid #bc0000;
	left:-1px;
	top:-1px
}
.detail-tab li {
	color:#707070;
	cursor:pointer;
	float:left;
	font-size:16px;
	height:52px;
	line-height:52px;
	text-align:center;
	width:150px
}
.detail-tab li a {
	display:block;
	height:52px;
	width:150px
}
.detail-tab li.curr,.detail-tab li.curr a,.detail-tab li a:hover {
	background:#bc0000;
	color:#fff;
	text-decoration:none
}
.commentinfo {
	padding:25px;
	border-bottom:1px solid #e1e1e1;
	overflow:hidden;
	line-height:1.9;
	color:#666!important
}
.commentlist-box {
}
.comment-item {
	width:100%;
	padding:10px 0;
	border-bottom:1px dotted #e1e1e1
}
.comment-item dt {
	width:125px;
	height:145px;
	text-align:center
}
.comment-item dt img {
	width:82px;
	height:110px;
	margin-bottom:4px
}
.comment-item dd {
	width:1000px;
	height:auto;
	position:relative
}
.comment-item dd .phone {
	width:200px;
	height:25px;
	line-height:25px;
	font-size:14px;
	display:block;
	position:absolute;
	right:0;
	top:0;
	text-align:right
}
.comment-item dd .mid {
	font-size:14px;
	line-height:1.6;
	margin-top:7px
}
.housetrend-infor {
	width:1120px;
	height:32px;
	background:#f3f3f3;
	margin:15px auto;
	padding:10px;
	line-height:32px;
	color:#333
}
.housetrend-infor dd {
	width:200px;
	margin:0 15px;
	float:left;
	display:inline;
	font-size:14px
}
.housetrend-infor dd.mid {
	width:300px
}
.chartphotoA {
	width:943px;
	height:207px;
	margin:15px 0 15px 40px
}
.chartphotoB {
	width:943px;
	height:81px;
	margin:0 0 0 40px
}
.fcolorlist {
	height:20px;
	margin:20px 0 20px 40px
}
.fcolorlist li {
	height:20px;
	line-height:20px;
	text-indent:25px;
	color:#000;
	margin:0 5px;
	display:inline
}
.fcolor1,.fcolor2,.fcolor3,.fcolor4,.fcolor5,.fcolor6,.fcolor7,.fcolor8,.fcolor9,.fcolor10,.fcolor11,.fcolor12,.fcolor13,.fcolor14,.fcolor15,.fcolor16 {
	width:14px;
	height:14px;
	display:inline-block;
	background-image:url(/resource/images/fcolor_ico.jpg);
	background-repeat:no-repeat;
	vertical-align:middle;
	margin-right:3px
}
.fcolor1 {
	background-position:0 0
}
.fcolor2 {
	background-position:0 -15px
}
.fcolor3 {
	background-position:0 -30px
}
.fcolor4 {
	background-position:0 -45px
}
.fcolor5 {
	background-position:0 -60px
}
.fcolor6 {
	background-position:0 -75px
}
.fcolor7 {
	background-position:0 -90px
}
.fcolor8 {
	background-position:0 -105px
}
.fcolor9 {
	background-position:0 -120px
}
.fcolor10 {
	background-position:0 -135px
}
.fcolor11 {
	background-position:0 -150px
}
.fcolor12 {
	background-position:0 -165px
}
.fcolor13 {
	background-position:0 -180px
}
.fcolor14 {
	background-position:0 -195px
}
.fcolor15 {
	background-position:0 -205px
}
.fcolor16 {
	background-position:0 -220px
}
.title-top {
	width:100%;
	height:50px;
	line-height:50px;
	position:relative
}
.title-top h5 {
	text-indent:28px;
	font-size:16px
}
.title-top .cBlue {
	position:absolute;
	right:15px;
	top:0;
	width:140px;
	height:50px;
	line-height:50px;
	text-align:right
}
.detailrecord-box .table-record {
	width:100%
}
.table-record th {
	background:#f3f3f3;
	height:42px;
	line-height:42px;
	color:#333;
	font-size:14px;
	padding:0 15px
}
.table-record td {
	border-top:1px solid #e1e1e1;
	padding:10px 15px;
	height:40px
}
.wherePopup {
	background:#fff;
	height:150px;
	width:230px;
	display:block
}
.where_top {
	height:40px;
	padding:10px;
	position:relative;
	width:210px
}
.where_top dd {
	height:40px;
	width:210px
}
.where_top .closebtn {
	background:url("/resource/images/share_bg.jpg") no-repeat scroll 0 -233px;
	cursor:pointer;
	display:block;
	height:15px;
	position:absolute;
	right:5px;
	top:5px;
	width:15px
}
.where_tab {
	border-top:1px solid #e0e0e0;
	height:34px;
	line-height:34px;
	width:100%
}
.where_tab li {
	background:#f5f5f5 none repeat scroll 0 0;
	color:#000;
	cursor:pointer;
	float:left;
	height:34px;
	line-height:34px;
	text-align:center;
	width:115px
}
.where_tab li.curr {
	background:#fff none repeat scroll 0 0
}
.where_tab li i {
	display:inline-block;
	height:12px;
	margin-right:10px;
	vertical-align:middle;
	width:12px
}
.where_tab li i.go {
	background:url("/resource/images/albums_arr.png") no-repeat scroll 0 -190px
}
.where_tab li i.setoff {
	background:url("/resource/images/albums_arr.png") no-repeat scroll 0 -226px
}
.where_box {
	height:28px;
	line-height:26px;
	padding:10px 0 0 5px;
	width:225px
}
.where_ipt {
	border:1px solid #a8a8a8;
	height:22px;
	padding:1px 5px;
	width:60px
}
.where_sm {
	background:url("/resource/images/where_sm.jpg") no-repeat scroll 0 0;
	border:medium none;
	color:#8b8b8b;
	display:inline-block;
	height:26px;
	line-height:26px;
	text-align:center;
	width:47px
}
.bgMark_ico,.bgMark_ico span {
	background:url("/resource/images/icons_mark.png") no-repeat scroll 0 0;
	color:#fff;
	display:block;
	height:35px;
	overflow:hidden;
	width:33px
}
.bgMark_ico {
	display:inline-block;
	height:35px;
	left:-10px;
	position:absolute;
	top:0;
	width:33px;
	z-index:2
}
.bMarkerA2 {
	background-position:0 -35px
}
.mapbox {
	width:800px;
	height:450px;
	margin:10px 0 15px 15px
}
.livingdetail {
	width:330px;
	height:450px;
	margin:10px 0 15px 35px
}
.mapphoto {
	width:800px;
	height:360px;
	position:relative
}
.live-nav {
	width:800px;
	height:70px;
	margin:20px 0 20px 0
}
.live-nav li {
	width:68px;
	height:68px;
	float:left;
	margin:0 20px;
	border:1px solid #dcdcdc
}
.live-nav li a {
	display:block;
	width:68px;
	height:58px;
	background:#fff;
	color:#666;
	text-align:center;
	padding-top:10px;
	text-decoration:none
}
.live-nav li a i {
	display:block;
	width:32px;
	height:22px;
	margin:0 0 3px 22px;
	background-image:url(/resource/images/livenav_bg.png);
	background-repeat:no-repeat
}
.live-nav li.curr a {
	background:#f3f3f3;
	color:#ff7800
}
.live-nav li a i.bus {
	background-position:3px 0
}
.live-nav li a i.subway {
	background-position:4px -30px
}
.live-nav li a i.school {
	background-position:0 -60px;
	margin-left:18px
}
.live-nav li a i.hospital {
	background-position:0 -90px
}
.live-nav li a i.periphery {
	background-position:0 -120px
}
.live-nav li a i.markets {
	background-position:0 -150px
}
.live-nav li a i.landscape {
	background-position:0 -180px
}
.live-nav li.curr a i.bus {
	background-position:-80px 0
}
.live-nav li.curr a i.subway {
	background-position:-82px -30px
}
.live-nav li.curr a i.school {
	background-position:-68px -60px;
	margin-left:18px
}
.live-nav li.curr a i.hospital {
	background-position:-78px -90px
}
.live-nav li.curr a i.periphery {
	background-position:-78px -120px
}
.live-nav li.curr a i.markets {
	background-position:-78px -150px
}
.live-nav li.curr a i.landscape {
	background-position:-78px -180px
}
.livingBox {
	width:300px;
	height:380px;
	background:#f8f8f8;
	padding:15px 0 20px 20px
}
.livingInner {
	width:300px;
	height:380px;
	overflow-x:hidden;
	overflow-y:scroll
}
.markline .mark-dotted {
	width:42px;
	height:30px;
	display:block;
	position:absolute;
	left:0;
	top:0;
	font-size:18px
}
.markline {
	width:220px;
	height:auto;
	color:#333;
	padding-left:42px;
	cursor:pointer;
	position:relative;
	line-height:1.8;
	margin-bottom:6px
}
.markline .map-icon {
	display:inline-block;
	width:15px;
	height:21px;
	position:relative;
	top:3px;
	background:url(/resource/images/map_mark.png) no-repeat 0 0;
	margin-left:3px
}
.livingBox .curr .map-icon {
	background:url(/resource/images/map_mark.png) no-repeat 0 bottom
}
.livingBox .curr .mark-dotted {
	color:#f21a25
}
.livingBox .addr {
	color:#148aee;
	font-size:14px
}
.livingBox .addrB {
	padding-left:40px;
	line-height:1.5;
	position:relative
}
.livingBox .addrB b {
	display:inline-block;
	width:40px;
	height:20px;
	position:absolute;
	left:0;
	top:0
}
.rollhouse {
	width:1160px;
	height:260px;
	position:relative;
	overflow:hidden;
	margin-left:20px
}
a.rollbtnleft,a.rollbtngrayleft {
	top:60px;
	left:0;
	z-index:3
}
a.rollbtnright,a.rollbtngrayright {
	top:60px;
	right:0;
	z-index:3
}
a.rollbtn {
	display:block;
	height:60px;
	width:36px;
	overflow:hidden;
	background:url(/resource/images/leftright.png) no-repeat 0 0;
	position:absolute
}
a.rollbtnleft {
	background:url(/resource/images/leftright.png) no-repeat 0 -120px
}
a.rollbtngrayleft {
	cursor:default;
	background-position:0 0
}
a.rollbtnright {
	display:block;
	background:url(/resource/images/leftright.png) no-repeat 0 -180px
}
a.rollbtngrayright {
	cursor:default;
	background-position:0 -60px
}
.rollhouselist {
	float:left;
	width:1050px;
	height:240px;
	overflow:hidden;
	position:relative;
	margin:0 0 20px 60px
}
.rollhouselist ul {
	width:20000px;
	position:absolute;
	left:0;
	top:0
}
.rollhouselist li {
	width:263px;
	height:245px;
	float:left
}
.rollhouselist li .room-img {
	width:245px;
	height:150px;
	position:relative
}
.rollhouselist .room-img img {
	width:245px;
	height:150px
}
.rollhouselist li p {
	line-height:1.6;
	margin-top:2px
}
.room-img .opacity-bg {
	position:absolute;
	width:240px;
	height:32px;
	background:rgba(0,0,0,.6);
	left:0;
	bottom:0;
	z-index:1;
	background:#000\9;
	filter:alpha(opacity=60)\9
}
.room-img .room-name {
	bottom:0;
	font-size:14px;
	height:32px;
	left:0;
	line-height:32px;
	position:absolute;
	text-indent:10px;
	width:240px;
	z-index:2
}
.room-name a {
	color:#fff
}
.lab_red,.lab_orange {
	background:#fe5013 none repeat scroll 0 0;
	color:#fff;
	display:inline-block;
	height:20px;
	line-height:20px;
	text-align:center;
	text-indent:0;
	vertical-align:2px;
	width:20px
}
.lab_red {
	background:#e6201f
}
.pagerLayer {
	clear:both;
	height:36px;
	margin:0 auto;
	position:relative;
	width:1200px;
	padding:60px 0 35px
}
.mortgagecon {
	display:none;
	width:703px;
	position:relative
}
.mortgagepop_mid {
	background:#fff;
	padding:15px 20px 25px;
	padding:20px
}
.mortgagebak .mortgageleft {
	width:370px;
	float:left;
	border-right:1px solid #e0e0e0
}
.mortgagebak .mortgageleft .mortgageleft_onebak {
	padding-bottom:10px
}
.mortgagebak .mortgageright {
	width:250px;
	float:right;
	padding:0 5px
}
.mortgagebak .mortgageleft .paymentkind {
	padding:10px;
	line-height:18px
}
.mortgagebak .mortgageleft .paymentkind span {
	color:#000
}
.mortgagebak .mortgageleft .providentfund {
	font-size:13px;
	padding:8px 0 10px 90px;
	color:#333
}
.mortgagebak .mortgageleft .countbtn {
	padding:8px 0 10px 90px
}
.mortgagebak .mortgageright .loan {
	font-size:14px
}
.mortgagebak .mortgageright .loan em {
	font-style:normal;
	float:left;
	display:block;
	width:115px;
	line-height:42px;
	text-align:right
}
.mortgagebak .mortgageright .loan span {
	float:left;
	display:block;
	color:#f00;
	line-height:42px
}
.mortgagebak .mortgageright .loanps {
	text-align:right;
	color:#000;
	padding-top:10px
}
.collectcon,.collectconB {
	display:none;
	width:450px;
	position:relative
}
.collectpop_mid {
	background:#fff;
	padding:20px 20px 60px
}
.mortgageleft_onebak em {
	font-style:normal;
	font-size:14px;
	float:left;
	display:block;
	padding:0 10px;
	line-height:42px
}
.selectstyle {
	font-size:14px;
	color:#000;
	position:relative;
	cursor:pointer;
	float:left
}
.selectleft {
	background:url(/resource/images/selectleft.gif) no-repeat;
	width:5px;
	height:42px;
	float:left;
	margin:0 auto;
	font-size:1px;
	overflow:hidden
}
.selectright {
	background:url(/resource/images/selectright.gif) no-repeat;
	width:26px;
	height:42px;
	float:left
}
.selectright02 {
	background:url(/resource/images/selectright02.gif) no-repeat;
	width:5px;
	height:42px;
	float:left
}
.selectstylefirst {
	float:left
}
.selectstylefirst span {
	background:url(/resource/images/selectmid.gif);
	height:32px;
	display:block;
	float:left;
	padding:5px;
	line-height:32px
}
.selectstylefirst input {
	height:28px;
	width:50px;
	border:0;
	line-height:28px;
	font-size:16px
}
.selectstylesecond {
	float:left;
	padding-left:90px;
	padding-top:10px
}
.selectstylesecond span {
	background:url(/resource/images/selectmid.gif);
	height:32px;
	display:block;
	float:left;
	padding:5px;
	line-height:32px
}
.selectstylesecond input {
	height:28px;
	width:50px;
	border:0;
	line-height:28px;
	font-size:16px
}
.selectstylelist {
	border-left:1px solid #b6bbc1;
	border-right:1px solid #b6bbc1;
	border-bottom:1px solid #b6bbc1;
	position:absolute;
	background:#FFF;
	top:38px;
	left:0;
	display:none;
	z-index:999;
	max-height:250px;
	overflow-y:auto;
	_height:expression(this.scrollHeight>250 ? "250px":(this.scrollHeight < 0 ? "0px":"auto"))
}
.selectstylelist li {
	line-height:32px;
	padding-left:10px
}
.selectstylelist .show {
	background:#fff7c6
}
.pooledloancon {
	display:none
}
.pagerbox {
	height:32px;
	left:50%;
	position:absolute;
	width:auto
}
.pagerbox .resultTxt {
	color:#333;
	height:32px;
	line-height:32px;
	margin-right:25px;
	width:auto
}
.pagerbox .pagerbar {
	color:#999;
	font-size:0;
	height:32px;
	left:-50%;
	line-height:32px;
	position:relative;
	width:auto
}
.pagerbar span.curr,.pagerbar a {
	background:#e5e5e5 none repeat scroll 0 0;
	color:#999;
	display:inline-block;
	font-size:16px;
	height:32px;
	line-height:32px;
	margin-right:10px;
	text-align:center;
	width:36px
}
.pagerbar span.curr {
	background:#ffd3a0 none repeat scroll 0 0;
	color:#ff7800
}
.pagerbar a:link,.pagerbar a:visited,.pagerbar a:active {
	color:#999;
	text-decoration:none
}
.pagerbar a:hover {
	color:#ff7800;
	text-decoration:none
}
.bgMark_ico,.bgMark_ico span {
	background:url("/resource/images/bg_Mark_iconA1.png") no-repeat scroll 0 0;
	color:#fff;
	display:block;
	height:35px;
	overflow:hidden;
	width:33px
}
.bgMark_ico:hover {
	text-decoration:none
}
.bgMark_ico {
	display:inline-block;
	height:35px;
	left:-10px;
	position:absolute;
	top:0;
	width:33px;
	z-index:2
}
.apartment {
	background:#fff none repeat scroll 0 0;
	border:2px solid #88abda;
	display:none;
	left:3px;
	line-height:1.4;
	padding:5px;
	position:absolute;
	top:0;
	white-space:nowrap
}
.apartbor9 {
	border:2px solid #094
}
.apartment p {
	background:#fff none repeat scroll 0 0;
	display:block;
	padding-left:8px;
	white-space:nowrap
}
.apartborB {
	border:2px solid #ec6941
}
.mapphoto a.subscript,.mapphoto a.subscript_on {
	background:url("/resource/images/right_map_ico.png") no-repeat scroll 0 0;
	color:#fff!important;
	font-family:"arial";
	font-size:14px;
	height:34px;
	line-height:28px;
	padding-left:8px;
	text-decoration:none;
	width:25px;
	display:block
}
.mapphoto a.subscript:hover,.mapphoto a.subscript_on {
	background:url("/resource/images/right_map_ico.png") no-repeat scroll 0 -34px;
	text-decoration:none;
	z-index:10
}
.termcon .arrorBox {
	height:27px;
	width:60px;
	position:absolute;
	top:0;
	right:-5px;
	display:block;
	z-index:5;
	text-align:right;
	cursor:pointer
}
.updatetime {
	display:none
}
.displaynone {
	height:300px;
	position:relative;
	width:1200px
}
.none_dl {
	height:110px;
	left:50%;
	margin-left:-250px;
	position:absolute;
	top:40px;
	width:500px
}
.none_dl dt {
	display:inline-block;
	height:102px;
	vertical-align:top;
	width:110px
}
.none_dl dd {
	display:inline-block;
	padding-top:20px;
	vertical-align:top;
	width:380px
}
.none_dl dd h3 {
	font-family:Microsoft Yahei,Arial,SimSun;
	font-size:18px;
	margin-bottom:10px
}
.hbase_txt {
	width:458px
}
.roombase-price {
	width:458px;
	padding:20px 0 0 30px;
	font-size:28px;
	height:35px;
	line-height:35px
}
.roombase-price span {
	display:inline-block
}
.roombase-price span.line {
	margin:0 28px;
	width:1px;
	background:#dadada;
	height:28px;
	vertical-align:middle;
	font-size:0
}
.hbase_txt li.cell {
	width:48%
}
.hbase_txt .cell .txt_r {
	width:140px
}
.BMap_cpyCtrl {
	display:none
}
.anchorBL {
	display:none
}
.emptyTxt {
	font-size:20px;
	margin-top:120px;
	text-align:center
}
#scrollSid {
	position:fixed;
	_position:absolute;
	bottom:250px;
	display:none;
	height:80px;
	right:80px;
	z-index:999
}
.writeBtn,.topBtn {
	width:40px;
	height:40px;
	display:block;
	background:url(/resource/images/scroll_icon.png) no-repeat 0 0
}
.writeBtn {
	background:url(/resource/images/scroll_icon.png) no-repeat 0 -40px
}
.writeBtn:hover {
	background:url(/resource/images/scroll_icon.png) no-repeat 0 -80px
}
.writeTip {
	width:70px;
	height:40px;
	line-height:40px;
	background:#f2c36d;
	color:#81511c;
	text-align:center;
	position:absolute;
	right:0;
	top:40px;
	opacity:0;
	z-index:-1
}
.szroompeple {
	height:120px;
	padding:25px 10px 10px 75px;
	width:380px
}
.szroompeple dt,.szroompeple dt img {
	height:110px;
	width:82px
}
.szroompeple dd {
	line-height:1.9;
	margin-left:20px;
	width:250px
}
.cd_chat_big {
	display:inline-block;
	height:27px;
	background:url(/resource/images/cd_chat_big.png) no-repeat 0 0;
	vertical-align:middle;
	width:100px!important
}
.cd_chat_small {
	display:inline-block;
	background:url(/resource/images/cd_chat_small.png) no-repeat 0 0;
	height:23px;
	vertical-align:middle;
	width:77px!important
}
.comment-item dt {
	width:150px
}
.comment-item dd {
	width:970px
}
.comment-item dt .f16 {
	font-size:14px!important
}
.ac_results {
	background:#FFF;
	border:1px solid #ddd;
	margin-top:-1px;
	overflow:hidden;
	width:274px;
	z-index:99999;
	border-radius:0 0 5px 5px;
	padding:5px
}
.ac_results ul {
	width:100%;
	list-style-position:outside;
	list-style:none;
	padding:0;
	margin:0
}
.ac_results li {
	cursor:default;
	display:block;
	font:menu;
	font-size:12px;
	line-height:20px;
	margin:0;
	overflow:hidden;
	padding:3px 8px;
	border-radius:5px
}
.ac_loading {
	background:white url('indicator.gif') right center no-repeat
}
.ac_over {
	background-color:#F06E10;
	color:#fff
}
.csearch span {
	float:left;
	padding-right:10px
}
.csearch label {
	float:right
}


